.logo {
  height: 6rem;
  transition: all 0.3s;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logoReact {
  height: 6rem;
  animation: spin 20s linear infinite;
  transition: all 0.3s;
}

.logoReact:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
